@font-face{
   font-family: 'Montserrat';
   src: url(fons/Montserrat.ttf);
}
@font-face{
   font-family: 'NunitoSans';
   src: url(fons/NunitoSans.ttf);
}
*{
   padding: 0;
   margin: 0;
   font-family: 'Montserrat';
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
.wrapper {
   width: 1366px;
}
.header {
   background-color: #e9e9e9;
}
.header__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   height: 90px;
}
.row {
   width: 1170px;
   margin: 0 auto;
}
.header__logo {
}
.header__logo img{
   width: 31px;
   height: 25px;
}
.header__nav {
}
.heder__list {
   display: flex;
   /* gap: 10px; */
}
.heder__list-item a{
   padding: 10px 15px;
}
.heder__list-item a{
   color:#3a3a3a;
}
.heder__list-item:hover a{
   color:#58d4d0;
}
.title{
   height: 560px;
   position: relative;
   background-color: #e9e9e9;
}
.title__row {
   position: absolute;
   right: 150px;
   top: 125px;
}
.title__h2 {
}
.h2{
   color: #1d1d1d;
   font-size: 38px;
}
.title__p {
   margin-top: 32px;
   width: 470px;
   height: 70px;
}
.p{
   font-family: 'Nunito Sans';
   font-size: 18px;
   color:#787878;
}
.title__btn {
   margin-top: 59px;
}
.btn {
   width: 180px;
   height: 54px;
   background-color: #10c9c3;
   color: #ffffff;
   padding: 22px 40px;
   font-size: 18px;
}
.btn:hover{
   color: #10c9c3;
   background-color: #ffffff;
}
.about {
}
.about__row {
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items:center;
   height: 420px;
}
.about__h2 {
   width: 140px;
   font-size: 30px;
}
.about__p {
   text-align: center;
   width: 620px;
   margin: 41px 0 37px;

}
.about__img {
   background-image: url("img/signature_1784.png");
   width: 223px;
   height: 57px;
}
.skill {
}
.skill__row {
   display: flex;
}
.skill__item:first-child{
   width: 683px;
   height: 570px;
   background-color: #f8f9f9;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 40px;
   margin-left: 100px;
}
.skill__item:nth-child(2){
   width: 683px;
   height: 570px;
   background-color: #e9e9e9;
}
.skill__h2 {
   font-size: 30px;
}
.skill__box {
}
.skill__box-item {
   font-size: 12px;
   color: #000000;
   margin-bottom: 40px;
}
.skill__box-item span{
   display: block;
   margin-top: 20px;
   width: 336px;
   height: 3px;
   background-color: #10c9c3;
}
.numbers {
   background-color:#10c9c3;
   color:#ffffff;
}
.numbers__row {
   display: flex;
   align-items:center;
   gap: 69px;
   height: 240px;
}
.numbers__item {
   position: relative;
   width: 240px;
}
.numbers__item img{
}
.nam {
   position: absolute;
   top: 0;
   left: 60px;
}
.txt {
   position: absolute;
   bottom: 0;
   left: 60px;
}
.block__flex {
   display: flex;
   flex-wrap: wrap;
}
.block__item {
   width: 341px;
   height: 300px;
}
.i1{
   background-color: #141414;
   position: relative; 
}
.i1 img{
   display: block;
   position: absolute;
   top: 135px;
   left: 145px;
}
.block__item:nth-child(3n+1){
   background-color: #dddddd;
}
.block__item:nth-child(3n+2){
   background-color: #838383;
}
.work-link {
   line-height: 100px;
   height: 100px;
   background-color: #f5f5f5;
}
.work-link-lead {
   display: block;
   margin: 0 auto;
   text-align: center;
   width: 200px;
   font-size: 12px;
   color: #8e8e8e;
}
.work {
   height: 930px;
}
.work__row {
   text-align: center;
}
.work__h2 {
   font-size: 30px;
   padding: 100px 0 41px;
}
.work__p {
   margin:0 auto 47px;
   width: 500px;
}
.work__box-video {
   height: 571px;
   background-color: #e9e9e9;
   position: relative;
}
.work__box-video span{
   position: absolute;
   top: 243px;
   left: 543px;
   background-color: #10c9c3;
   width: 85px;
   height: 85px;
   border-radius: 50%;
}
.work__box-video img{
   width: 11px;
height: 17px;
   position: absolute;
   top: 277px;
   left: 582px;
}
.card {
   height: 535px;
   background-color:#f5f5f5;
}
.card__flex {
   padding-top: 100px;
   height: 330px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 70px;
   text-align: center;
}
.card__item {
   width: 235px;
   height: 130px;
}
.card__item-title {
   font-size: 18px;
   color: #191919;
   padding: 29px 0 19px;
}
.card__item-subtitle {
   font-family: 'Nunito Sans';
   font-size: 16px;
   color: #787878;
}
.carusel {
   height: 500px;
   background-color: #10c9c3;
}
.carusel__item {
   margin: 0 auto;
   width: 800px;
   text-align: center;
}
.carusel__item p{
   font-size: 18px;
   opacity: 0.8;
   color: #ffffff;
}
.carusel__item-text {
   font-size: 24px;
   padding: 178px 0 35px;
   color: #ffffff;
}
.clients{
   height: 200px;
   align-items:center;
   display: flex;
   justify-content: space-around;
}
.testimonials {
   height: 751px;
   background-color: #f5f5f5;
}
.testimonials__row {
   text-align: center;
}
.testimonials__h2 {
   padding: 101px 0 35px;
}
.testimonials__p {
   width: 540px;
   margin: 0 auto 38px;
}
.testimonials__form {
   margin: 0 auto 53px;
   width: 670px;
   display: flex;
   flex-wrap: wrap;
   gap:  30px;
}
.testimonials__form>input{
   border: none;
   padding: 5px 0 0 20px; 
}
.testimonials__form input:nth-child(1) {
   width: 320px;
   height: 48px;
}
.testimonials__form input:nth-child(2) {
   width: 320px;
   height: 48px;
}
.testimonials__form input:nth-child(3) {
   width: 670px;
   height: 48px;
}
.testimonials__form input:nth-child(4){
   width: 670px;
   height: 170px;
}
.footer {
   height: 284px;
   background-color: #141414;
}
.footer__flex {
   display: flex;
   align-items: flex-start;
   align-content:center;
   height: 284px;
   flex-wrap: wrap;
   gap: 50px;
}
.footer__flex-item {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.footer__title {
   font-size: 18px;
   color: #ffffff;
}
.footer__subtitle {
   width: 230px;
}
.footer__flex-item:nth-child(1){
   gap: 30px;
}
.footer__flex-item:nth-child(2){
   flex-grow: 2;
}
.footer__flex-item:nth-child(2) a{
   width: 160px;
   margin: 0 auto;
}
.footer__flex-item:nth-child(4){
   padding: 0 40px 0 10px;
}
.fa{
   font-family: 'NunitoSans';
   font-size: 15px;
   color: #bcbcbc;
}